@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html{
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  background-color: #35393C;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.button {
  font-weight: bold;
  font-size: 1.6rem;
  color: #397367;
  border: 1px solid #397367;
  border-radius: 7px;
  padding: 0.3em 0.5em;
  background-color: #D9D9D9;
  cursor: pointer;
}

.page-title {
  font-weight: bold;
  font-size: 3.2rem;
  color: #FFFFFF;
  margin-top: 1.5em;
  text-align: center;
}